.res-container {
    background-color: white;
}
.textpad {
    padding: 25px;
    font-size: 18px;
    text-align: left;
    font-family: sans-serif
}
.heading {
    font-family: 'Trebuchet MS';
    font-size: 35px;
    font-weight: bold;
}